<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- ######################## START - Log4j Appenders ######################## -->
    <appender name="nullAppender" class="org.apache.log4j.varia.NullAppender"/>

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} | %p | %c | %m%n"/>
        </layout>
    </appender>

    <appender name="defaultFileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="logs\\debug.log"/>
        <param name="datePattern" value="'.'yyyy-MM-dd"/>
        <param name="append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss,SSS} | %p | %c | %m%n"/>
        </layout>
    </appender>

    <!-- ######################### END - Log4j Appenders ######################### -->


    <!-- ######################### START - Log4j Loggers ######################### -->
    <!-- This is the default log4j logger -->
    <root>
        <priority value="DEBUG"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="defaultFileAppender"/>
    </root>
    <!-- ######################### END - Log4j Loggers ######################### -->
</log4j:configuration>